body {
	background-color: silver;
}
.jumbotron {
	background-color: silver;
	background-image: url("../images/train.png");
	background-repeat: repeat-x;
	padding-bottom: 24px;
	background-color: black;
	color: white;
}
.card-header, .btn {
	background-color: black;
	color: white;
}
.form-group {
	padding: 0px 12px 0px 12px;
}