body {
	background-color: silver;
}
label {
	padding-left: 13px;
	color: red;
}
.jumbotron {
	background-color: gray;
	background-image: url("../images/train.png");
	background-repeat: repeat-x;
	padding-bottom: 24px;
	background-color: black;
	color: silver;
}
.card-header, .btn {
	background-color: gray;
	color: white;
}
.form-group {
	padding: 12px 12px 0 12px;
}